[submodule "p/empire"]
	path = p/empire
	url = https://github.com/PowerShellEmpire/Empire
[submodule "p/rtl8188eu"]
	path = p/rtl8188eu
	url = https://github.com/lwfinger/rtl8188eu
[submodule "b/ve"]
	path = b/ve
	url = https://github.com/hvqzao/ve
[submodule "p/httpscreenshot"]
	path = p/httpscreenshot
	url = https://github.com/breenmachine/httpscreenshot.git
[submodule "p/jdwp-shellifier"]
	path = p/jdwp-shellifier
	url = https://github.com/IOActive/jdwp-shellifier
[submodule "p/net-creds"]
	path = p/net-creds
	url = https://github.com/DanMcInerney/net-creds.git
[submodule "p/nosqlmap"]
	path = p/nosqlmap
	url = https://github.com/tcstool/NoSQLMap.git
[submodule "p/seclists"]
	path = p/seclists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "p/praedasploit"]
	path = p/praedasploit
	url = https://github.com/MooseDojo/praedasploit
[submodule "p/sqlmap"]
	path = p/sqlmap
	url = https://github.com/sqlmapproject/sqlmap
[submodule "p/responder"]
	path = p/responder
	url = https://github.com/SpiderLabs/Responder.git
[submodule "p/wifite"]
	path = p/wifite
	url = https://github.com/derv82/wifite.git
[submodule "p/rdp-sec-check"]
	path = p/rdp-sec-check
	url = https://github.com/portcullislabs/rdp-sec-check
[submodule "p/xxei"]
	path = p/xxei
	url = https://github.com/enjoiz/XXEinjector
[submodule "p/smbexec"]
	path = p/smbexec
	url = https://github.com/pentestgeek/smbexec.git
[submodule "p/gwt-toolset"]
	path = p/gwt-toolset
	url = https://github.com/GDSSecurity/GWT-Penetration-Testing-Toolset.git
[submodule "p/the-backdoor-factory"]
	path = p/the-backdoor-factory
	url = https://github.com/secretsquirrel/the-backdoor-factory
[submodule "p/windows-exploit-suggester"]
	path = p/windows-exploit-suggester
	url = https://github.com/GDSSecurity/Windows-Exploit-Suggester.git
[submodule "p/vpnbook/thsosrtl"]
	path = p/vpnbook/thsosrtl
	url = https://github.com/Top-Hat-Sec/thsosrtl
[submodule "p/ipport"]
	path = p/ipport
	url = https://github.com/hvqzao/ipport
[submodule "p/udp-proto-scanner"]
	path = p/udp-proto-scanner
	url = https://github.com/portcullislabs/udp-proto-scanner
[submodule "p/nishang"]
	path = p/nishang
	url = https://github.com/samratashok/nishang
[submodule "p/ysoserial/src"]
	path = p/ysoserial/src
	url = https://github.com/frohoff/ysoserial
[submodule "p/discover"]
	path = p/discover
	url = https://github.com/leebaird/discover.git
[submodule "p/wifiphisher"]
	path = p/wifiphisher
	url = https://github.com/sophron/wifiphisher
[submodule "p/clusterd"]
	path = p/clusterd
	url = https://github.com/hatRiot/clusterd
[submodule "p/hashid"]
	path = p/hashid
	url = https://github.com/psypanda/hashID
[submodule "p/hqlmap"]
	path = p/hqlmap
	url = https://github.com/PaulSec/HQLmap
[submodule "p/burp/unofficial/super-serial"]
	path = p/burp/unofficial/super-serial
	url = https://github.com/DirectDefense/SuperSerial
[submodule "p/burp/unofficial/flow"]
	path = p/burp/unofficial/flow
	url = https://github.com/hvqzao/burp-flow
[submodule "p/burp/unofficial/wildcard"]
	path = p/burp/unofficial/wildcard
	url = https://github.com/hvqzao/burp-wildcard
[submodule "p/bsql-injector"]
	path = p/bsql-injector
	url = https://github.com/enjoiz/BSQLinjector
[submodule "p/liffy"]
	path = p/liffy
	url = https://github.com/hvqzao/liffy
[submodule "p/sublistbrute"]
	path = p/sublistbrute
	url = https://github.com/aboul3la/Sublist3r
[submodule "b/endec"]
	path = b/endec
	url = https://github.com/hvqzao/endec
[submodule "p/fuzzdb"]
	path = p/fuzzdb
	url = https://github.com/fuzzdb-project/fuzzdb
[submodule "p/ciphr"]
	path = p/ciphr
	url = https://github.com/frohoff/ciphr
[submodule "p/blns"]
	path = p/blns
	url = https://github.com/minimaxir/big-list-of-naughty-strings
[submodule "p/odat"]
	path = p/odat
	url = https://github.com/quentinhardy/odat
[submodule "p/get-docroots"]
	path = p/get-docroots
	url = https://github.com/ewilded/get_docroots
