/b/firefox/
/b/jdk*
/b/jre
/b/sqldeveloper/
/h
/o/
/p/burp/
/p/gwt-toolset/
/p/httpscreenshot/
/p/jdwp-shellifier/
/p/net-creds/
/p/nosqlmap/
/p/owtf/
/p/praedasploit/
/p/rdp-sec-check/
/p/responder/
/p/rtl8188eu/
!/p/rtl8188eu/control_ap.
/p/seclists/
/p/smbexec/
/p/sqlmap/
/p/the-backdoor-factory/
/p/vpnbook/
/p/wifite/
/p/windows-exploit-suggester/
/p/xxei/
/p/bootstrap.sh
/t/
/u
.swp
